<div class="container ">
  <h3>High Rank Providers</h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Provider Id</th>
      <th>Name</th>
      <th>Address</th>
      <th>Rating<app-popover></app-popover></th>
    </tr>
  </thead>
  <tr *ngFor="let provider of highRankProviders">
    <td>
      <a [routerLink]="['/providerClaimDetails', provider.provNumb]"
        >{{ provider?.provNumb }}
      </a>
    </td>
    <td>
      {{ provider?.name }}
    </td>
    <td>
      {{ provider?.address }}
    </td>
    <td>
      {{ provider?.rating
      }}<span
        ><app-star-rating [currentRate]="provider.rating"></app-star-rating
      ></span>
    </td>
  </tr>
</table>

<div class="container">
  <h3>
    Low Rank Providers&nbsp;&nbsp;<button class="btn btn-primary">
      Email Details
    </button>
  </h3>
</div>
<table class="table table-striped w">
  <thead>
    <tr>
      <th>Provider Id</th>
      <th>Name</th>
      <th>Address</th>
      <th>Rating<app-popover></app-popover></th>
    </tr>
  </thead>
  <tr *ngFor="let provider of lowRankProviders">
    <td>
      <a [routerLink]="['/providerClaimDetails', provider.provNumb]">{{
        provider.provNumb
      }}</a>
    </td>
    <td>
      {{ provider.name }}
    </td>
    <td>
      {{ provider.address }}
    </td>
    <td>
      {{ provider.rating
      }}<span
        ><app-star-rating [currentRate]="provider.rating"></app-star-rating
      ></span>
    </td>
  </tr>
</table>
